.turkeyMapWrapper {
  margin: 0 auto;
  max-width: 1140px;
  text-align: center;

  .turkeyMap {
    width: 100%;
    height: auto;

    path {
      fill: #bbb;
      cursor: pointer;
      &:hover {
        fill: #aaa;
      }
    }
  }
}

.tooltip {
  z-index: 2;
  position: absolute;

  div {
    color: #fff;
    font-size: 14px;
    background: #000;
    padding: 8px 16px;
    border-radius: 4px;
  }
}
